In [4]:
#Folder --> #5files --> #unique --> #512-size
import os
import string
import random
#os.mkdir("python class")
for i in range(1,6):
    file_name = "C:\\Users\\DELL1\\AIandML\\python class\\file%d"%(i)
    f = open(file_name,"w")
    data = " "
    for i in range(512):
        data = data + random.choice(string.ascii_letters)
    f.write(data)
    f.close()

In [1]:
pwd

'C:\\Users\\DELL1\\AIandML'

# Day 8

## Functional programming
1. list comprehension
2. anonymous functions
3. map
4. reduce
5. filter

In [6]:
#List Comprehensions
 ## create anothr list with even elements of list1
list1 = list(range(1,11))
list2 = []
for i in list1:
    if i%2 == 0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [7]:
# List Comprehensions
list3 = [i for i in list1 if i%2 == 0]
print(list3)

[2, 4, 6, 8, 10]

In [16]:
#accept string as an input and print all the digits and count of the digits

# input : "hello 12345"
#output : ['1','2','3','4','5'],5
string = input("enter a string: ")
list4 =[ch for ch in string if ch.isdigit()]
print(list4,len(list4))

enter a string: Hello 12345
['1', '2', '3', '4', '5'] 5

In [17]:
list5 = list(range(1,11))
list6 = list(range(11,21))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
result = [list5[i]+list6[i] for i in range(len(list5))]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [21]:
#zip()
result = [x+y for x,y in zip(list5,list6)]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

#Anonymous function (lambda functions)
```lambda arguments : logic```

In [22]:
s = lambda x : x**2

In [23]:
s(4)

16

In [24]:
add = lambda x,y : x+y
add(10,20)

30

In [25]:
#Map()
list6 = list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
## [2,4,6,8,10,12,14,16,18,20]
result = [i*2 for i in list6]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# ```map(function_name,iterable object)```

In [29]:
result = list(map(lambda i : i*2,list6))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
'10 20 30'.split()

['10', '20', '30']

In [1]:
#unpacking
x,y,z = list(map(int,input("enter your input: ").split()))
print(x,y,z)

enter your input: 10 20 40
10 20 40

In [6]:
# Filter()

In [5]:
list6 = [1,2,3,4,5,6,7,8,9,10]
result = []
for i in list6:
    if i%5 == 0:
        result.append(i)
result

[5, 10]

In [8]:
list(filter(lambda x : (x%3 == 0),list6))

[3, 6, 9]

In [12]:
# Reduce()
from functools import reduce

In [13]:
#traditional
list1 = [1,2,3,4,5]
m=1
for i in list1:
    m *= i
print(m)

120

In [14]:
reduce(lambda x,y:x*y,list1)
# 1,2,3,4,5
# 2,3,4,5
# 6,4,5
# 24,5
# 120

120